body{
    background-color: #f4f4f4;
}
h1{
    color: #f4f4f4;
    font-family: 'Arial';
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    text-align: center;
}
table{
    width: 100%;
    max-width: 350px;
    border-collapse: collapse;
    margin: 20px auto;
}
tbody{
    border: 3px solid  #000;
}
tr{
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;

}
th,td{
    font-size: 24px;
    margin: 20px auto ;
    padding: 2px;
}
